@font-face {
  font-family: "Cigarette";
  src: url("../fonts/Sigarette.ttf");
}

$cigarette: "Cigarette";

@font-face {
  font-family: "Lucky";
  src: url("../fonts/Luckystrikes.otf");
}

$lucky: "Lucky";

$redBordeaux : #4cb889;

.btn-stop {
  background-color: white;
  color:$redBordeaux;
  border: 1px solid $redBordeaux;
  &:hover{
    background-color: $redBordeaux;
    color: white;
  }
}

a {
  color: $redBordeaux;
  &:hover {
    color: $redBordeaux;
    text-decoration: none;
  }
  &:active {
    color: $redBordeaux;
    text-decoration: none;
  }
}

.textBordeaux{
  color : $redBordeaux
}

.textCigarette{
  font-family: $cigarette;
}

.bgBordeaux{
  background : $redBordeaux
}