@font-face {
  font-family: "Cigarette";
  src: url("../fonts/Sigarette.ttf");
}

$cigarette: "Cigarette";

@font-face {
  font-family: "Lucky";
  src: url("../fonts/Luckystrikes.otf");
}

$lucky: "Lucky";

$turquoise : #4cb889;

.btn-stop {
  background-color: white;
  color:$turquoise;
  border: 1px solid $turquoise;
  &:hover{
    background-color: $turquoise;
    color: white;
  }
}

a {
  color: $turquoise;
  &:hover {
    color: $turquoise;
    text-decoration: none;
  }
  &:active {
    color: $turquoise;
    text-decoration: none;
  }
}

.textStop{
  color : $turquoise
}

.textCigarette{
  font-family: $cigarette;
}

.bgStop{
  background : $turquoise
}