{% extends 'base.html.twig' %}

{% block title %}New Cigarette{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="textStop textCigarette"> Cigarette</h1>

        {{ include('cigarette/_form.html.twig') }}

        <a href="{{ path('cigarette_index') }}">back to list</a>
    </div>
{% endblock %}
