{% extends 'base.html.twig' %}

{% block title %}STOP CLOPE {% endblock %}

{% block body %}

    {% if not app.user %}

        <div class="homepageLogin container text-center">
            <img src="https://zupimages.net/up/20/29/ol04.gif" alt="girl" width="300">
            <h1 class="textCigarette">Connecte toi !</h1>
            <a href="{{ path('app_login') }}" class="btn btn-stop">Par ici </a>
        </div>

    {% else %}

        <div class="homepage container text-center bgStop">
            <h1 class="textCigarette mt-2"> Stop Clope</h1>
        </div>
        <a href="{{ path('cigarette_new') }}"><h1 class="btn btn-stop">Je m'en grille une petite </h1></a>
    {% endif %}


    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        $(function() {
            var xhr = $.get("http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC");
            xhr.done(function(data) {
                $('.gif-bg').css('background-image', 'url(' + data.data.image_url + ')');
            });
        });
    </script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        .gif-bg {
            background:url('') no-repeat center center;
            width:30%;
            height:30%;
            min-height:30%; /* for mobile and tablets */
            background-size:cover;
            padding: 25px;
            position:absolute
        }
    </style>
    <div class="gif-bg">
    </div>



{% endblock %}
