{% extends 'base.html.twig' %}

{% block title %}STOP CLOPE {% endblock %}

{% block body %}
    {% if not app.user %}
        <div class="homepageLogin container text-center">
            <h1 class="textCigarette">Connecte toi !</h1>
            <a href="{{ path('app_login') }}" class="btn btn-stop">Par ici </a>
        </div>
    {% else %}
        <div class="homepage container text-center bgBordeaux">
           <h1 class="textCigarette mt-2"> Stop Clope</h1>
        </div>

        {% include '_nav.html.twig' %}
    {% endif %}

{% endblock %}
