{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1 class="textCigarette textStop">Créer un utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-stop" href="{{ path('user_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
